<!doctype html>
<html lang="en" data-theme="system">
  <head>
    <meta charset=utf-8>
  {% block htmlhead %}
    <title>{% block title %}Home{% endblock %} | Sejal Rekhan's Wiki</title>
    <link href="/feed.atom" rel="alternate" title="Sejal Rekhan's Notebook" type="application/atom+xml">
    <link href="/feed.xml" rel="alternate" title="Sejal Rekhan's Notebook" type="application/rss+xml">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {%- for link in links %}
    <link rel="{{ link.rel }}" href="{{ link.href }}"{%
      if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
    {%- endfor %}
    <link rel="stylesheet" href="/static/fonts.css" type="text/css">
    <link rel="stylesheet" href="/static/style-2025.css" type="text/css">
    <link rel="stylesheet" href="/static/_pygments.css" type="text/css">
    <meta name="title" content="{{ self.title() }}">
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:site_name" content="Sejal Rekhan's Wiki">
    <meta name="twitter:site" content="@sejalrekhan">
    <meta name="twitter:url" content="https://sejalrekhan.com{{ slug }}">
    <meta property="og:url" content="https://sejalrekhan.com{{ slug }}">
    <link rel="canonical" href="https://sejalrekhan.com{{ slug }}">
    <meta name="twitter:title" content="{{ self.title() }}">
    <meta name="twitter:domain" content="https://sejalrekhan.com/">
    {% block twitter_card %}
    <meta name="twitter:card" content="summary">
    {% endblock %}
    <meta name="twitter:creator" content="@sejalrekhan">
  {% endblock %}
    <script type="speculationrules">
      {
        "prefetch": [
          {
            "where": { "href_matches": "/*" },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
  </head>
  <body hx-boost="true" hx-ext="head-support" hx-select="div.body" hx-target="div.body" hx-swap="outerHTML">
    <div class="header-image">
      <canvas id="header-canvas"></canvas>
    </div>
    <script>
      let $THEME = null;

      function selectTheme(theme) {
        const node = document.documentElement;
        if (theme === "system") {
          localStorage.removeItem("theme");
        } else {
          localStorage.setItem("theme", theme);
        }
        node.setAttribute("data-theme", theme);
        $THEME = theme;
      }

      selectTheme(localStorage.getItem("theme") || "system");
      document.documentElement.setAttribute("data-initial-load", "true");

      if (history.scrollRestoration) {
        history.scrollRestoration = 'manual';
      }
    </script>
    <script src="/static/htmx-bundle.min.js"></script>
    <script src="/static/app.js"></script>
    <div class=container>
      <div class=header>
        <a href="/about/">Sejal Rekhan</a>'s Wiki
      </div>
      <div class=navigation>
        <ul>
          <li><a href="/">blog</a>
          <li><a href="/projects/">projects</a>
          <li><a href="/talks/">talks</a>
          <li><a href="/about/">about</a>
        </ul>
      </div>
      <div class=body hx-history-elt>
        {% block body %}{% endblock %}
      </div>
      <div class=footer>
        <p>&copy; Copyright {{ format_date(format='YYYY') }} by Sejal Rekhan.
        <p>
          Find me on <a href="https://x.com/sejal_rekhan">X / Twitter</a>
          and <a href="https://www.linkedin.com/in/sejal-rekhan/">LinkedIn</a>.
        <p>
        <p class="theme-selector" hidden>
          Color scheme:
          <label><input type="radio" name="theme" value="system"> <span>auto</span></label>,
          <label><input type="radio" name="theme" value="light"> <span>light</span></label>,
          <label><input type="radio" name="theme" value="dark"> <span>dark</span></label>.
          <script>
            document.querySelector('.theme-selector').removeAttribute('hidden');
            document.querySelectorAll('input[name="theme"]').forEach(input => {
              input.checked = input.value === $THEME;
              input.addEventListener('change', () => {
                selectTheme(input.value);
              });
            });
          </script>
        </p>
      </div>
    </div>
    <div class="footer-image">
      <canvas id="footer-canvas"></canvas>
    </div>
    <script>
      window.setTimeout(() => {
        document.documentElement.removeAttribute("data-initial-load");
      }, 0);
    </script>
  </body>
</html>
